MONGO_URI='...net/zalo?...'
DATABASE_NAME=zalo
APP_HOST='localhost'
PORT=8080

REACT_URL=http://localhost:3000
REACT_NATIVE_URL=http://localhost:8081

JWT_SECRET=NguyenMinhTien 
JWT_EXPIRES_IN=1s
JWT_EXPIRES_REFRESH_TOKEN=7h

MAX_AGE_ACCESS_TOKEN=900000
MAX_AGE_REFRESH_TOKEN=3600000